<nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/reportedPotholes">Reported Potholes</a></li>
    <li><a href="/accountSettings">Account Settings</a></li>
  </ul>
</nav>