<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>PotholeApp</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css' />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <link rel="stylesheet" href="../../public/css/reports.css"
</head>
<body>
  <header>
    <h1>Welcome to Pothole Filler 1.0</h1>
  </header>
  <nav class='navbar'>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><button id='reportBtn'>Report</button></li>
      <li><a href='/reportedPots'>Reported Potholes</a></li>
      <li><a href='/accountSettings'>Account Settings</a></li>
    </ul>
  </nav>
  {{{routedPage}}}
  
  <!-- Modal for reporting potholes -->
  <div id="reportModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Report a Pothole</h2>
      <p>Please select the size of the pothole:</p>
      <div>
        <button id="smallBtn">Small</button>
        <button id="mediumBtn">Medium</button>
        <button id="largeBtn">Large</button>
      </div>
      <p>Additional Comments:</p>
      <textarea id="comment" rows="4" cols="50"></textarea>
      <div>
        <button id="submitBtn">Submit</button>
        <button class="close">Close</button>
      </div>
    </div>
  </div>
  
  <script src="/mapinteractions.js"></script>
  <script src="../../public/js/login.js"></script>
  <script src="../../public/js/logout.js"></script>
</body>
</html>
