<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PotholeApp</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css' />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <link rel="stylesheet" href="../../public/css/reports.css" />
  <link rel="stylesheet" href="../../public/css/jass.css" />

</head>
<body>
  {{!-- {{#if logged_in}}
  <header>
    <h1>Welcome to Pothole Filler 1.0</h1>
  </header> --}}
 
 {{> navbar}}

  <!-- This holds the insert from handlebars -->
  {{{body}}}

  {{!-- {{else}}
  <h1>Please Log in to view our Potholes</h1>
  <a href="/login">Login</a>
  {{/if}} --}}
  
  <!-- Include Leaflet and custom JavaScript -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-p5V01b6bhDZ+Lk5hr/T729eobITZGxXe2JdG9vjLcz0=" crossorigin=""></script>
  <script src="../../public/js/login.js"></script>
  <script src="../../public/js/logout.js"></script>

</body>
</html>
