<main id="account-info-container">
  <div id="account-display-container">
    <p class="account-details">Username: {{dbUserData.name}}</p>
    <p class="account-details">Email: {{dbUserData.email}}</p>
  </div>
  <div>
    <h4>Update Account Information</h4>
    <input type="username" placeholder="New Username" id="newName" />
    <input type="email" placeholder="New Email" id="newEmail" />
    <input type="password" placeholder="New Password" id="newPassword" />
    {{!-- <input
      id="displayPassword"
      type="checkbox"
    />Show Password --}}
    <button id="updateButton">Submit</button>
    <button id="logoutButton">Logout</button>
  </div>
</main>