<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports</title>
  </head>
  <body>
    {{#if logged_in}}
      {{#each potholes}}
        <div>
          <p> Location: Lat:{{this.lat}} Lng:{{this.lng}}</p>
          <p> Size: {{this.size}}</p>
        </div>
      {{/each}}
    {{else}}
      <meta http-equiv="refresh" content="0; URL=http://localhost:3001/login" />
    {{/if}}
  </body>
</html>